footer{
    background: #222;
}

.footerWrap{
    display: flex;
    justify-content: space-between;
    padding: 2rem;
}

.footerLeft,
.footerMid,
.footerRight{
    width: 30%;
}

.footerHeading{
    font-family: msb;
    font-size: 1.1rem;
}

.footerForm{
    margin-top: 1rem;
    display: flex;
    width: 100%;
    flex-direction: column;
    gap: .5rem;
}

.footerForm input{
    background: transparent;
    outline: none;
    font-family: mm;
    color: #fff;
    border-radius: 30px;
    border: 2px solid #fff;
    padding: .6rem 1rem;
    width: 80%;
}

.footerForm button{
    background: linear-gradient(90deg,#ff416c -6%,#ff4b2b 88.84%);
    width: 120px;
    padding: .6rem 1rem;
    outline: none;
    font-family: mm;
    color: #fff;
    border-radius: 30px;
    border: none;
}
.footerCopy{
    text-align: center;
    -webkit-backdrop-filter: blur(8px);
    backdrop-filter: blur(8px);
    background-color: rgba(3,3,3,.5);
    padding: .6rem;
}
@media (max-width: 700px) {
    .footerWrap{
        flex-direction: column;
        gap: 1rem;
    }
    
    .footerLeft,
    .footerMid,
    .footerRight{
        width: 100%;
    }
}