@font-face {
  font-family: meb;
  src: url(./assets/fonts/Montserrat-ExtraBold.ttf);
}

@font-face {
  font-family: mb;
  src: url(./assets/fonts/Montserrat-Bold.ttf);
}

@font-face {
  font-family: msb;
  src: url(./assets/fonts/Montserrat-SemiBold.ttf);
}

@font-face {
  font-family: mm;
  src: url(./assets/fonts/Montserrat-Medium.ttf);
}

@font-face {
  font-family: mr;
  src: url(./assets/fonts/Montserrat-Regular.ttf);
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background: rgb(10, 10, 10);
  color: #fff;
  font-family: mr;
} 

a{
  text-decoration: none;
  color: #fff;
}

.main{
  padding: 90px 1rem 0 1rem;
}